extends layout

block content
  section(class="cat-form-container")
    if title==='Update Category | Elden Ring NPC Guide'
      h2(class="form-head") Update Category
    else
      h2(class="form-head") Add a New Category

    if title==='Update Category | Elden Ring NPC Guide' && npcs.length > 0
      p(class="cat-msg warning") The following NPCs will be updated.
      ul(class="cat-update-npc-list") 
        for npc in npcs
          li(class="cat-update-npc-item")
            a(href=npc.url) #{npc.name}
    if title==='Update Category | Elden Ring NPC Guide' && npcs.length === 0
      p(class="cat-msg") There are no NPCs associated with this category.
    form(method='POST' action='' class="cat-form")
        div(class="npc-form-subcontainer cat-form-sub")
          label(for='name') Category Name:
          input#name.form-control(type='text' placeholder='Category Name' name='name' required='true' value=(undefined===cat ? '' : cat.name) )
        
        button(class="cat-submit-btn" type='submit') Submit
    if errors
      ul
        for error in errors
          li!= error.msg