extends layout

block content
  section(class="npc-main")
    ul(class="npc-list")
      for npc in npc_list
        li(class="npc-item")
          div(class="npc-item-container")
            div(class="npc-name") 
              a(href=npc.url) #{npc.name}
            div(class="npc-desc") #{npc.desc}
          div(class="npc-item-container")
            img(class="npc-main-pic" alt="pic of " + npc.name src='/images/' + npc.image)

        div(class="npc-list-line")
          
          



