doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(content="width=device-width, initial-scale=1" name="viewport")
  body
    header
      a(href="/npc" class="home-link")
        img(src="/images/ER-title.webp" class="logo")
      h1(class="title") NPC Guide
    main
      div(class="section-container")
        div(class="sidebar")
          div(class="cat-container")
            h2(class="sidebar-head") Categories
            ul(class="category-list")
              for cat in category_list
                li(class="category-item") 
                  a(href=cat.url) #{cat.name}
          div(class="control-container")
            h2(class="sidebar-head") Control Panel
            ul(class="control-panel")
              li(class="control-option")
                a(href="/npc/create") Add New NPC
              li(class="control-option")
                a(href="/npc/cat/create") Add New Category
        block content
    footer
      div(class="attr") Created by David Stockdale
      div(class="social-container")
        a(href="https://github.com/dstock3" target="_blank" rel="noopener noreferrer") Github
        a(href="https://dstock.biz/" target="_blank" rel="noopener noreferrer") Portfolio
      
