doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/reset.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      a(href="/npc" class="home-link")
        img(src="/images/ER-title.webp" class="logo")
    main
      h1 #{title}
      div(class="section-container")
        div(class="sidebar")
          ul(class="control-panel")
            li
              a(href="/npc/create") Add New NPC
            li
              a(href="/npc/cat/create") Add New Category
          ul(class="category-list")
            for cat in category_list
              li(class="category-item") 
                a(href=cat.url) #{cat.name}
      
        block content
    footer
      div(class="attr") Created by David Stockdale
      div(class="social-container")
        a(href="https://github.com/dstock3" target="_blank" rel="noopener noreferrer") Github
        a(href="https://dstock.biz/" target="_blank" rel="noopener noreferrer") Portfolio
      
