body {
  background: rgb(0,46,35);
  background: -moz-linear-gradient(0deg, rgba(0,46,35,1) 0%, rgba(0,60,84,1) 66%);
  background: -webkit-linear-gradient(0deg, rgba(0,46,35,1) 0%, rgba(0,60,84,1) 66%);
  background: linear-gradient(0deg, rgba(0,46,35,1) 0%, rgba(0,60,84,1) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002e23",endColorstr="#003c54",GradientType=1);
  color: white;
}

a {
  color: rgb(208, 0, 255);
  font-weight: bold;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  height: 125px;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin-right: 5%;
}

.home-link {
  display: flex;
  align-items: center;
  width: 25%;
}

.title {
  font-size: 1.75em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-right: 15%;
}

.logo {
  margin-left: 15px;
  height: 50px;
  filter: drop-shadow(5px 5px 5px #000000);
}

.sidebar, .npc-main, .cat-page, .npc-detail {
  background-color: rgba(0, 0, 0, 0.75);
}

.npc-main, .cat-page, .npc-detail {
  width: 75%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  width: 22%;
  height: fit-content;
  border-radius: 5px;
}

.sidebar-head {
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 15px;
}

.cat-container, .control-container {
  margin-top: 15px;
  width: 75%;
}

.control-container {
  margin-bottom: 15px;
}

.category-item, .control-option {
  margin-bottom: 5px;
  font-size: 1.25em;
}

.npc-item {
  margin-left: 15px;
  margin-top: 15px;
  width: 85%;
}

.npc-name {
  margin-bottom: 15px;
}

footer {
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.social-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.attr {
  margin-bottom: 15px;
}
