body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: rgb(0,46,35);
  background: -moz-linear-gradient(0deg, rgba(0,46,35,1) 0%, rgba(0,60,84,1) 66%);
  background: -webkit-linear-gradient(0deg, rgba(0,46,35,1) 0%, rgba(0,60,84,1) 66%);
  background: linear-gradient(0deg, rgba(0,46,35,1) 0%, rgba(0,60,84,1) 66%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#002e23",endColorstr="#003c54",GradientType=1);
  color: white;
  min-height: 100vh;
  font-family: 'Libre Bodoni', serif;
}

a {
  color: rgb(248, 215, 99);
  font-weight: bold;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  min-height: 15vh;
}

.section-container {
  display: flex;
  justify-content: space-between;
  margin-right: 10%;
  min-height: 75vh;
  margin-bottom: 15px;
}

.home-link {
  display: flex;
  align-items: center;
  width: 25%;
}

.title {
  font-size: 2.25em;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75%;
  margin-right: 15%;
}

.logo {
  margin-left: 10%;
  height: 55px;
  filter: drop-shadow(5px 5px 5px #000000);
}

.sidebar, .npc-main, .cat-page, .npc-detail, .npc-form-container, .cat-form-container {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  filter: drop-shadow(7px 7px 7px #000000);
}

.npc-main {
  display: flex;
  flex-direction: column;
}

.npc-detail, .cat-form-container  {
  width: 80%;
}

.npc-form-container, .cat-form-container {
  width: fit-content;
  padding-inline: 15px;
  margin-right: 20%;
  height: fit-content;
}

.cat-form-container {
  margin-right: 30%;
  padding-inline: 5%;
}

.npc-main, .cat-page {
  margin-right: 5%;
  width: 70%;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
  width: 100%;
  height: fit-content;
  border-radius: 5px;
}

.sidebar-container {
  width: 15%;
  margin-left: 15px;

}

.attr {
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  filter: drop-shadow(7px 7px 7px #000000);
}

.attr p {
  margin-inline: 10px;
  padding-block: 25px;
}

.sidebar-head {
  font-size: 1.5em;
  text-decoration: underline;
  margin-bottom: 15px;
}

.cat-container, .control-container {
  margin-top: 15px;
  width: 85%;
}

.control-container {
  margin-bottom: 15px;
}

.category-item, .control-option {
  margin-bottom: 15px;
  font-size: 1.25em;
}

.category-item a, .control-option a {
  padding: 3px;
  border-radius: 5px;
}

.category-item a:hover, .control-option a:hover {
  background-color: rgb(248, 215, 99);
  color: black;
}

.npc-item-container {
  display: flex;
}

.npc-item-subcontainer {
  align-self: center;
  margin-right: 5%;
}

.npc-main-control-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 25px;
  border: 1px solid white;
  border-radius: 5px;
}

.npc-indicator {
  width: 75px;
  height: 75px;
  align-self: center;
  margin-right: 15px;
}

.npc-item {
  display: flex;
  justify-content: space-between;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 7px;
  width: 95%;
}

.npc-main-pic {
  width: 250px;
}

.npc-list {
  margin-bottom: 15px;
}

.npc-list-line {
  border-bottom: 2px solid white;
  width: 100%;
}

.npc-name {
  font-size: 1.25em;
  margin-bottom: 15px;
}

.selected a {
  background-color: rgb(248, 215, 99);
  color: black;
}

.npc-detail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.npc-head {
  font-size: 1.5em;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 15px;
}

.npc-detail > div {
  margin-inline: 5%;
  margin-bottom: 15px;
}

.npc-page-quote {
  border: 1px solid white;
  border-radius: 5px;
  min-height: fit-content;
  padding: 15px;
  align-self: center;
  margin-bottom: 15px;
}

footer {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.social-container {
  display: flex;
  justify-content: space-between;
  width: 10%;
}

.attr {
  font-size: 1.1em;
  margin-bottom: 15px;
}

.npc-head {
  font-size: 1.33em;
}

.npc-desc {
  width: 85%;
  margin-bottom: 15px;
}

.npc-control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  margin-top: 15px;
}

.cat-control-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35%;
  height: 50px;
  border: 1px solid white;
  border-radius: 5px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.npc-detail-subcontainer > div {
  margin-bottom: 15px;
}

.npc-page-loc {
  margin-top: 15px;
}

.cat-head-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-bottom-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.update-npc {
  margin-left: 15px;
}

.delete-npc {
  margin-right: 15px;
}

.npc-page-notes-head {
  border-bottom: 1px dotted white;
  font-size: 1.25em;
  font-style: italic;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.npc-detail-container {
  display: flex;
  justify-content: space-between;
}

.npc-img-container {
  width: 25%;
  margin-left: 25px;
}

.npc-pic {
  max-width: 300px;
}

.cat-page-title {
  font-size: 1.5em;
  text-align: center;
  margin-top: 10px;
}

.dec-container {
  margin-top: 10px;
  margin-bottom: 10px;
  align-self: center;
  display: flex;
  justify-content: space-between;
  width: 98%;
}

.dec-top-left {
  border-top: 1px solid white;
  border-left: 1px solid white;
  height: 15px;
  width: 15px;
}

.dec-top-right {
  border-top: 1px solid white;
  border-right: 1px solid white;
  height: 15px;
  width: 15px;
}

.dec-bottom-right {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  height: 15px;
  width: 15px;
}

.dec-bottom-left {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  height: 15px;
  width: 15px;
}

form {
  width: 85%;
  margin: auto;
}

label {
  margin-right: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-main-subcontainer {
  margin: auto;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  margin-bottom: 15px;
  padding: 15px;
}

.form-head {
  font-size: 1.5em;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.npc-form-subcontainer {
  margin-bottom: 5px;
}

.form-group-npc-name {
  margin-bottom: 15px;
  margin-right: 15px;
}

.form-main-subcontainer input {
  width: 95%;
}

.form-group-npc-cat {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  border-radius: 5px;
  margin: auto;
  width: fit-content;
  padding-left: 15px;
}

.npc-cat-label {
  margin-top: 15px;
}

.cat-checkbox-container {
  margin-top: 15px;
  margin-bottom: 15px;
}

.form-group-npc-img-upload {
  display: flex;
  justify-content: space-between;
  margin: auto;
  border: 1px solid white;
  border-radius: 5px;
  width: 100%;
  margin-top: 15px;
  padding-block: 15px;
}

.upload-image-input {
  margin: auto;

}

.upload-image-label {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.submit-btn {
  margin-top: 15px;
  margin-left: 80%;
  width: 100px;
}

.image-prompt {
  margin-top: 15px;
  margin-left: 15px;
}

.upload-image {
  margin-left: 15%;
}

.cat-form {
  display: flex;
  flex-direction: column;
}

.cat-submit-btn {
  margin-top: 15px;
}

.cat-form-sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cat-form-sub label {
  margin-bottom: 10px;
}

.cat-msg {
  margin-bottom: 15px;
}

button {
  margin-bottom: 15px;
}

.cat-update-npc-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  margin-bottom: 15px;
}

.cat-update-npc-item {
  margin-bottom: 5px;
}

.npc-delete {
  border: 1px solid white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 15px;
}

.control-delete-page {
  justify-content: center;
}

.control-delete-page .update-npc {
  margin-left: unset;
}

.cat-delete {
  margin-right: 20%;
}

.return-to-cat {
  text-align: center;
  margin-bottom: 15px;
}

.npc-detail-head-container {
  align-self: center;
  width: 100%;
}

@media only screen and (max-width: 900px) {
  header {
    flex-direction: column;
    align-items: center;
    min-height: 10vh;
  }

  .home-link {
    width: 100%;
    justify-content: center;
  }

  .logo {
    margin-left: unset;
  }

  .title {
    margin-right: unset;
    margin-bottom: 15px;
  }

  .section-container {
    flex-direction: column;
    align-items: center;
    margin-right: unset;
    justify-content: unset;
  }

  .npc-main, .cat-page, .npc-detail, .cat-form-container {
    width: 90%;
    margin-right: unset;
  }

  .sidebar-container {
    width: 75%;
    margin-left: unset;
  }

  .cat-container, .control-container {
    width: unset;
  }

  .cat-control-container {
    width: 85%;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  .social-container {
    width: 40%;
  }

  .npc-head {
    margin-top: 15px;
  }

  .npc-control-container {
    width: 85%;
    align-self: center;
  }

  .npc-list-line {
    width: 90%;
    margin: auto;
  }

  .npc-detail-container {
    flex-direction: column;
  }

  .npc-detail-bottom {
    display: flex;
    justify-content: center;
  }

  .npc-img-container {
    width: 100%;
    margin-left: unset;
    order: 0;
    margin-bottom: 15px;
  }

  .npc-detail-subcontainer {
    order: 1;
  }

  .npc-name {
    text-align: center;
  }
  
  .npc-pic {
    width: 100%;
    max-width: unset
  }

  .npc-desc {
    margin: auto;
    margin-bottom: 15px;
  }

  .form-group-npc-name {
    margin-right: unset;
  }

  .npc-form-container, .cat-form-container {
    margin-right: unset;
    width: 85%;
  }

  .form-main-subcontainer {
    flex-direction: column;
  }

  .npc-indicator {
    visibility:hidden;
    width: 0;
    height: 0;
  }

  .npc-item-subcontainer {
    width: 100%;
    margin-right: unset;
  }

  .npc-item {
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-right: unset;
    margin-left: unset;
  }

  .npc-main-pic-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  .npc-main-pic {
    width: 250px;
  }

  .upload-image {
    margin-left: 5%;
  }

  .submit-btn {
    width: 100%;
    margin-left: unset;
    margin-bottom: 15px;
  }

  .npc-main-control-container {
    width: 85%;
    margin: auto;
  }

  .cat-form-sub {
    flex-direction: row;
  }

  .cat-form-sub label {
    margin-bottom: unset;
  }

  .confirm-delete {
    margin-bottom: 15px;
    width: 75%;
  }

  .npc-delete .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .confirm-delete-btn {
    width: 90%;
  }

  .dec-container {
    width: 95%;
  }
}